
.foto>img{
 padding-right: 10px;
 height: 200px;
 width: 200px;
 float:left
}

h1{
  text-align: center;
}

.detalle{
  color:white;
  padding-top: 20px;
  padding-left: 20px;
  
}

body{
  background-color: black;
}

.detalle>ul{
  list-style-type: none;
}

.contenido>p{
  padding-top:250px;
  color:white;
  font-size: 50px;
}

.contenido{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center; 
  gap: 50px;
}
.contenido>img{
  height: 700px;
  width: 1000px;
}

footer{
  color:red;
  padding-top: 15px;
  text-align: center; 
}