.contenedor{
  text-align: right;
}

.text{
  display: flex;
  gap: 1em;
  justify-content: right;
  margin-bottom: 0;
}

footer{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}